body {
    font-family: "Averia Libre", "Lato", "Helvetica", sans-serif;
    font-size: 4vw;
}

button, input {
    font-family: "Averia Libre", "Lato", "Helvetica", sans-serif;
    font-size: 4vw;
}

label {
    display: block;
    margin-bottom: 3vw;
}

label input, label button {
    margin-top: 1vw;
}

.hide {
    display: none;
}

#goals-description {
    font-weight: bold;
}